:root{
  --theme: #FF5500;
}


/* for touchscreen devices, no hovering */
@media (any-hover:none) {
  button.close {
      visibility: visible !important;
  }
}

/* Only hover if device supports hovering */
@media (any-hover:hover) {

  /* Hover over label, change color of checkbox */
  label:hover>.cb {
      background-color: var(--theme);
      border-radius: 0;
  }

  /* Hover over todo item, change color of todo */
  .todo-item:hover .todo {
      cursor: pointer;
      color: var(--theme);
  }

  /* Hover over close button, change text decoration */
  .close:hover ~label .todo{
      text-shadow: 0 0 25px var(--theme);
  }
}

.container {
  max-width: 720px;
  margin: auto;
}

h1 {
  color: var(--theme);
  font-size: 3em;
  padding-left: 60px;
}

/* CSS for underline */
#todo-input-underline {
  position: relative;
}

#todo-input-underline::before {
  content: '';
  position: absolute;
  border-bottom: 1px solid grey;
  width: calc(100% - 130px);
  top: 2em;
  left: 60px;
}

/* todo input */
#todo-input {
  box-sizing: border-box;
  border: none;
  padding-left: 60px;
  margin-bottom: 15px;
  width: calc(100% - 70px);
  height: 30px;
  font-size: 1.25em;
  outline: none;
}

/* todo-item */
.todo-item {
  box-sizing: border-box;
  font-size: 24px;
  text-align: left;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

/* Hover over todo item, make close button appear */
.todo-item:hover button.close {
  visibility: visible;
}

/* todo item label*/
label {
  display: inline-block;
  width: calc(100% - 60px);
  /* user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; */
}

/* Original Checkbox */
input[type=checkbox] {
  display: none;
}

/* Items within the label */
input[type=checkbox]:checked~span {
  text-decoration: line-through;
  color: var(--theme);
}

#todo-list label span {
  display: inline-block;
  vertical-align: middle;
}

/* Visible Check box */
.cb {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #eee;
  cursor: pointer;
  border-radius: 50%;
  transition: all 1s;
}

input[type=checkbox]:checked~.cb {
  background-color: var(--theme);
  border-radius: 0;
}

/* Visible Check box TICK*/
.cb:after {
  content: '';
  position: absolute;
  left: 30%;
  top: 10%;
  width: 10px;
  height: 25px;
  border: solid white;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  display: none;
}

input[type=checkbox]:checked~.cb:after {
  display: block;
}

/* todo text */
.todo {
  position: relative;
  margin-left: 20px;
  width: calc(100% - 70px);
  transition: all 0.5s;
}

/* todo underline */
.todo::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid grey;
  width: 100%;
  left: 0;

  height: 100%;
  top: 4px;
  z-index: -1;
}


/* close button */
button.close {
  position: absolute;
  right: 0;
  top: 40%;
  border: none;
  outline: none;
  color: var(--theme);
  font-size: 70px;
  background-color: rgba(0, 0, 0, 0);
  transform: translateY(-50%);
  cursor: pointer;
  height: 70px;
  width: 70px;
  visibility: hidden;
}